@model TravelApi.Models.Destination;

<h2> Edit destination</h2>

@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.City)
  @Html.EditorFor(model => model.City)

  @Html.LabelFor(model => model.State)
  @Html.EditorFor(model => model.State)

  @Html.LabelFor(model => model.Country)
  @Html.EditorFor(model => model.Country)

  @Html.LabelFor(model => model.Review)
  @Html.EditorFor(model => model.Review)

  <input type="submit" value="Add new destination" class="btn btn-default" />
}

<p>@Html.ActionLink("Home", "Index")</p>
